In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import pycaret
import sklearn
import lightgbm as lgb

In [4]:
Path = "D:/HR_Analytics/Competition/"

In [5]:
def predict(model,test,idcol,target,model_name):
    prediction = predict_model(model,test)
    Result = pd.DataFrame({idcol: test_data[idcol], target : prediction["Label"]})
    pd.DataFrame(Result_Promoted).to_csv(Path+"/data/"+"predictions_frame"+ model_name +".csv",index=False)
    return Result,prediction

In [6]:
#inspect df
def inspect_df(data):
    dataframe = data.head()
    datasummary = data.describe()
    datamissing = data.isnull().sum()
    return dataframe,datasummary,datamissing

In [7]:
#load train data
train = pd.read_csv(Path+"/train_jqd04QH.csv")

In [8]:
test = pd.read_csv(Path+"/test_KaymcHn.csv")

In [9]:
train.shape

(18359, 14)

In [26]:
inspect_df(train)

(   city  city_development_index  gender  relevent_experience  \
 0    41                   0.689       1                    0
 1   112                   0.923       1                    0
 2    48                   0.910       1                    0
 3    93                   0.666       1                    0
 4     2                   0.887       1                    1

    enrolled_university  education_level  major_discipline  experience  \
 0                    2                0                 5           3
 1                    2                0                 5          14
 2                    2                0                 5           6
 3                    2                0                 5          14
 4                    2                2                 5           8

    company_size  company_type  last_new_job  training_hours  target
 0             1             6             1             106       0
 1             8             1             1              69       0
 2             4             5             2               4       0
 3             4             6             1              26       0
 4             7             2             2              88       1  ,
                city  city_development_index        gender  \
 count  18359.000000            18359.000000  18359.000000
 mean      43.239229                0.847140      0.929353
 std       36.036755                0.110189      0.304251
 min        0.000000                0.448000      0.000000
 25%        5.000000                0.796000      1.000000
 50%       48.000000                0.910000      1.000000
 75%       64.000000                0.920000      1.000000
 max      122.000000                0.949000      2.000000

        relevent_experience  enrolled_university  education_level  \
 count         18359.000000         18359.000000     18359.000000
 mean              0.259437             1.589030         0.726565
 std               0.438338             0.767654         1.015067
 min               0.000000             0.000000         0.000000
 25%               0.000000             2.000000         0.000000
 50%               0.000000             2.000000         0.000000
 75%               1.000000             2.000000         2.000000
 max               1.000000             2.000000         4.000000

        major_discipline    experience  company_size  company_type  \
 count      18359.000000  18359.000000  18359.000000  18359.000000
 mean           4.559889     10.418814      4.166730      4.274743
 std            0.977130      6.470532      2.587447      2.076516
 min            0.000000      1.000000      0.000000      0.000000
 25%            4.000000      5.000000      2.000000      2.000000
 50%            5.000000      9.000000      4.000000      6.000000
 75%            5.000000     16.000000      7.000000      6.000000
 max            5.000000     20.000000      8.000000      6.000000

        last_new_job  training_hours        target
 count  18359.000000    18359.000000  18359.000000
 mean       2.059807       65.899014      0.132088
 std        1.683380       60.885300      0.338595
 min        0.000000        1.000000      0.000000
 25%        1.000000       23.000000      0.000000
 50%        1.000000       47.000000      0.000000
 75%        3.000000       89.000000      0.000000
 max        5.000000      336.000000      1.000000  ,
 city                      0
 city_development_index    0
 gender                    0
 relevent_experience       0
 enrolled_university       0
 education_level           0
 major_discipline          0
 experience                0
 company_size              0
 company_type              0
 last_new_job              0
 training_hours            0
 target                    0
 dtype: int64)

In [ ]:


train['experience'] = train['experience'].replace('>20', 20)
train['experience'] = train['experience'].replace('<1', 1)

test['experience'] = test['experience'].replace('>20', 20)
test['experience'] = test['experience'].replace('<1', 1)

train['last_new_job'] = train['last_new_job'].replace('>4', 5)
train['last_new_job'] = train['last_new_job'].replace('never', 0)

test['last_new_job'] = test['last_new_job'].replace('>4', 5)
test['last_new_job'] = test['last_new_job'].replace('never', 0)

In [ ]:

test['last_new_job'] = test['last_new_job'].interpolate(method='polynomial', order= 2)
test['last_new_job'] = test['last_new_job'].fillna(1.0)

# Filling the Missing Values
train['company_type'] = train['company_type'].fillna("MSME")
train['company_size'] = train['company_size'].fillna(50000)
train['gender'] = train['gender'].fillna(method= "pad")
train['major_discipline'] = train['major_discipline'].fillna("Other")
train['education_level'] = train['education_level'].fillna(train['education_level'].mode()[0])
train['enrolled_university'] = train['enrolled_university'].fillna(train['enrolled_university'].mode()[0])

test['company_type'] = test['company_type'].fillna("MSME")
test['company_size'] = test['company_size'].fillna(50000)
test['gender'] = test['gender'].fillna(method= "pad")
test['major_discipline'] = test['major_discipline'].fillna("Other")
test['education_level'] = test['education_level'].fillna(test['education_level'].mode()[0])
test['enrolled_university'] = test['enrolled_university'].fillna(test['enrolled_university'].mode()[0])

In [ ]:
# Use LabelEncoder

from sklearn.preprocessing import LabelEncoder
Encoder = LabelEncoder()

train['city'] = Encoder.fit_transform(tuple(train['city']))
train['relevent_experience'] = Encoder.fit_transform(tuple(train['relevent_experience']))
train['gender'] = Encoder.fit_transform(tuple(train['gender']))
train['enrolled_university'] = Encoder.fit_transform(tuple(train['enrolled_university']))
train['education_level'] = Encoder.fit_transform(tuple(train['education_level']))
train['major_discipline'] = Encoder.fit_transform(tuple(train['major_discipline']))
train['company_size'] = Encoder.fit_transform(tuple(train['company_size']))
train['company_type'] = Encoder.fit_transform(tuple(train['company_type']))

# Encode for Test Data
test['city'] = Encoder.fit_transform(tuple(test['city']))
test['relevent_experience'] = Encoder.fit_transform(tuple(test['relevent_experience']))
test['gender'] = Encoder.fit_transform(tuple(test['gender']))
test['enrolled_university'] = Encoder.fit_transform(tuple(test['enrolled_university']))
test['education_level'] = Encoder.fit_transform(tuple(test['education_level']))
test['major_discipline'] = Encoder.fit_transform(tuple(test['major_discipline']))
test['company_size'] = Encoder.fit_transform(tuple(test['company_size']))
test['company_type'] = Encoder.fit_transform(tuple(test['company_type']))

In [6]:
from pycaret.classification import *

In [7]:
#setup the model settings as well as preprocessing options
from pycaret.classification import *
clf1 = setup(data = train,target = 'target',ignore_features={'city'},categorical_imputation='mode',feature_selection=True,train_size=0.9,normalize=True,normalize_method='robust',combine_rare_levels=True,ignore_low_variance=True,remove_outliers=True)
clf1

Setup Succesfully Completed!

(       company_size_500-999  education_level_Masters  experience_3  \
 0                       0.0                      0.0           1.0
 1                       0.0                      0.0           0.0
 2                       0.0                      0.0           0.0
 3                       0.0                      0.0           0.0
 4                       0.0                      1.0           0.0
 ...                     ...                      ...           ...
 18354                   0.0                      0.0           0.0
 18355                   0.0                      0.0           0.0
 18356                   0.0                      1.0           0.0
 18357                   0.0                      0.0           0.0
 18358                   0.0                      0.0           0.0

        company_size_10/49  experience_6  enrolled_university_no_enrollment  \
 0                     0.0           0.0                                1.0
 1                     0.0           0.0                                1.0
 2                     0.0           1.0                                1.0
 3                     0.0           0.0                                1.0
 4                     0.0           0.0                                1.0
 ...                   ...           ...                                ...
 18354                 0.0           0.0                                0.0
 18355                 0.0           0.0                                1.0
 18356                 0.0           0.0                                1.0
 18357                 1.0           0.0                                1.0
 18358                 0.0           0.0                                1.0

        experience_4  company_size_100-500  last_new_job_2  company_size_<10  \
 0               0.0                   1.0             0.0               0.0
 1               0.0                   0.0             0.0               1.0
 2               0.0                   0.0             1.0               0.0
 3               0.0                   0.0             0.0               0.0
 4               0.0                   0.0             1.0               0.0
 ...             ...                   ...             ...               ...
 18354           0.0                   0.0             0.0               1.0
 18355           0.0                   0.0             0.0               0.0
 18356           0.0                   0.0             0.0               0.0
 18357           0.0                   0.0             0.0               0.0
 18358           0.0                   1.0             1.0               0.0

        ...  last_new_job_1  last_new_job_never  experience_2  last_new_job_3  \
 0      ...             1.0                 0.0           0.0             0.0
 1      ...             1.0                 0.0           0.0             0.0
 2      ...             0.0                 0.0           0.0             0.0
 3      ...             1.0                 0.0           0.0             0.0
 4      ...             0.0                 0.0           0.0             0.0
 ...    ...             ...                 ...           ...             ...
 18354  ...             1.0                 0.0           0.0             0.0
 18355  ...             1.0                 0.0           0.0             0.0
 18356  ...             0.0                 0.0           0.0             1.0
 18357  ...             0.0                 0.0           0.0             1.0
 18358  ...             0.0                 0.0           0.0             0.0

        company_type_NGO  experience_9  education_level_Graduate  \
 0                   0.0           0.0                       1.0
 1                   0.0           0.0                       1.0
 2                   0.0           0.0                       1.0
 3                   0.0           0.0                       1.0
 4                   0.0           0.0                       0.0
 ...                 ...           ...                       ...
 18354               0.0           0.0                       1.0
 18355               0.0           0.0                       1.0
 18356               0.0           0.0                       0.0
 18357               0.0           0.0                       1.0
 18358               0.0           0.0                       1.0

        company_type_Pvt Ltd  gender_Female  last_new_job_>4
 0                       1.0            0.0              0.0
 1                       0.0            0.0              0.0
 2                       0.0            0.0              0.0
 3                       1.0            0.0              0.0
 4                       1.0            0.0              0.0
 ...                     ...            ...              ...
 18354                   1.0            0.0              0.0
 18355                   1.0            0.0              0.0
 18356                   1.0            0.0              0.0
 18357                   1.0            0.0              0.0
 18358                   1.0            1.0              0.0

 [17441 rows x 50 columns],
 0        0
 1        0
 2        0
 3        0
 4        1
         ..
 18354    0
 18355    0
 18356    0
 18357    0
 18358    0
 Name: target, Length: 17441, dtype: int64,
        company_size_500-999  education_level_Masters  experience_3  \
 6927                    0.0                      0.0           0.0
 18024                   0.0                      0.0           1.0
 9676                    0.0                      0.0           0.0
 4565                    1.0                      1.0           0.0
 2433                    0.0                      1.0           0.0
 ...                     ...                      ...           ...
 7806                    0.0                      0.0           0.0
 6501                    0.0                      1.0           0.0
 8647                    0.0                      0.0           0.0
 8296                    0.0                      0.0           0.0
 14865                   0.0                      0.0           0.0

        company_size_10/49  experience_6  enrolled_university_no_enrollment  \
 6927                  0.0           1.0                                1.0
 18024                 0.0           0.0                                0.0
 9676                  0.0           0.0                                0.0
 4565                  0.0           0.0                                1.0
 2433                  0.0           0.0                                1.0
 ...                   ...           ...                                ...
 7806                  0.0           0.0                                1.0
 6501                  0.0           0.0                                1.0
 8647                  0.0           0.0                                1.0
 8296                  0.0           0.0                                1.0
 14865                 0.0           0.0                                1.0

        experience_4  company_size_100-500  last_new_job_2  company_size_<10  \
 6927            0.0                   0.0             0.0               0.0
 18024           0.0                   0.0             0.0               0.0
 9676            0.0                   0.0             1.0               0.0
 4565            0.0                   0.0             0.0               0.0
 2433            0.0                   0.0             0.0               0.0
 ...             ...                   ...             ...               ...
 7806            0.0                   0.0             1.0               1.0
 6501            0.0                   1.0             1.0               0.0
 8647            0.0                   0.0             0.0               0.0
 8296            0.0                   1.0             0.0               0.0
 14865           0.0                   0.0             0.0               0.0

        ...  last_new_job_1  last_new_job_never  experience_2  last_new_job_3  \
 6927   ...             0.0                 0.0           0.0             1.0
 18024  ...             1.0                 0.0           0.0             0.0
 9676   ...             0.0                 0.0           0.0             0.0
 4565   ...             0.0                 0.0           0.0             0.0
 2433   ...             1.0                 0.0           0.0             0.0
 ...    ...             ...                 ...           ...             ...
 7806   ...             0.0                 0.0           0.0             0.0
 6501   ...             0.0                 0.0           0.0             0.0
 8647   ...             0.0                 1.0           0.0             0.0
 8296   ...             1.0                 0.0           0.0             0.0
 14865  ...             1.0                 0.0           0.0             0.0

        company_type_NGO  experience_9  education_level_Graduate  \
 6927                0.0           0.0                       1.0
 18024               0.0           0.0                       1.0
 9676                0.0           0.0                       0.0
 4565                0.0           0.0                       0.0
 2433                0.0           0.0                       0.0
 ...                 ...           ...                       ...
 7806                0.0           0.0                       1.0
 6501                0.0           0.0                       0.0
 8647                0.0           0.0                       1.0
 8296                0.0           0.0                       1.0
 14865               0.0           0.0                       1.0

        company_type_Pvt Ltd  gender_Female  last_new_job_>4
 6927                    1.0            0.0              0.0
 18024                   1.0            0.0              0.0
 9676                    0.0            0.0              0.0
 4565                    1.0            0.0              1.0
 2433                    0.0            0.0              0.0
 ...                     ...            ...              ...
 7806                    1.0            0.0              0.0
 6501                    1.0            0.0              0.0
 8647                    1.0            0.0              0.0
 8296                    1.0            1.0              0.0
 14865                   1.0            1.0              0.0

 [15696 rows x 50 columns],
        company_size_500-999  education_level_Masters  experience_3  \
 2876                    0.0                      0.0           0.0
 2627                    0.0                      0.0           0.0
 4202                    0.0                      0.0           0.0
 11233                   0.0                      1.0           0.0
 6646                    0.0                      1.0           0.0
 ...                     ...                      ...           ...
 4271                    0.0                      0.0           0.0
 6633                    0.0                      0.0           0.0
 7513                    0.0                      0.0           1.0
 10878                   0.0                      0.0           0.0
 12196                   0.0                      1.0           0.0

        company_size_10/49  experience_6  enrolled_university_no_enrollment  \
 2876                  0.0           0.0                                1.0
 2627                  0.0           0.0                                0.0
 4202                  0.0           0.0                                0.0
 11233                 0.0           0.0                                1.0
 6646                  0.0           0.0                                1.0
 ...                   ...           ...                                ...
 4271                  0.0           0.0                                0.0
 6633                  1.0           0.0                                0.0
 7513                  0.0           0.0                                1.0
 10878                 0.0           0.0                                1.0
 12196                 0.0           0.0                                1.0

        experience_4  company_size_100-500  last_new_job_2  company_size_<10  \
 2876            0.0                   0.0             0.0               0.0
 2627            0.0                   0.0             0.0               0.0
 4202            0.0                   1.0             1.0               0.0
 11233           0.0                   0.0             0.0               0.0
 6646            0.0                   0.0             0.0               0.0
 ...             ...                   ...             ...               ...
 4271            0.0                   1.0             1.0               0.0
 6633            0.0                   0.0             0.0               0.0
 7513            0.0                   0.0             0.0               0.0
 10878           1.0                   0.0             0.0               0.0
 12196           0.0                   0.0             0.0               0.0

        ...  last_new_job_1  last_new_job_never  experience_2  last_new_job_3  \
 2876   ...             1.0                 0.0           1.0             0.0
 2627   ...             0.0                 1.0           0.0             0.0
 4202   ...             0.0                 0.0           0.0             0.0
 11233  ...             1.0                 0.0           0.0             0.0
 6646   ...             0.0                 0.0           0.0             0.0
 ...    ...             ...                 ...           ...             ...
 4271   ...             0.0                 0.0           0.0             0.0
 6633   ...             1.0                 0.0           0.0             0.0
 7513   ...             1.0                 0.0           0.0             0.0
 10878  ...             0.0                 0.0           0.0             1.0
 12196  ...             0.0                 0.0           0.0             0.0

        company_type_NGO  experience_9  education_level_Graduate  \
 2876                0.0           0.0                       1.0
 2627                0.0           0.0                       0.0
 4202                0.0           0.0                       1.0
 11233               0.0           0.0                       0.0
 6646                0.0           0.0                       0.0
 ...                 ...           ...                       ...
 4271                0.0           0.0                       1.0
 6633                0.0           0.0                       1.0
 7513                0.0           0.0                       1.0
 10878               0.0           0.0                       1.0
 12196               0.0           0.0                       0.0

        company_type_Pvt Ltd  gender_Female  last_new_job_>4
 2876                    1.0            0.0              0.0
 2627                    0.0            0.0              0.0
 4202                    1.0            0.0              0.0
 11233                   0.0            0.0              0.0
 6646                    1.0            0.0              1.0
 ...                     ...            ...              ...
 4271                    1.0            1.0              0.0
 6633                    1.0            0.0              0.0
 7513                    1.0            0.0              0.0
 10878                   1.0            0.0              0.0
 12196                   1.0            1.0              1.0

 [1745 rows x 50 columns],
 6927     0
 18024    0
 9676     0
 4565     0
 2433     0
         ..
 7806     0
 6501     0
 8647     0
 8296     1
 14865    1
 Name: target, Length: 15696, dtype: int64,
 2876     0
 2627     0
 4202     0
 11233    0
 6646     0
         ..
 4271     0
 6633     0
 7513     0
 10878    1
 12196    0
 Name: target, Length: 1745, dtype: int64,
 4409,
 Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True,
                                       features_todrop={'city'},
                                       ml_usecase='classification',
                                       numerical_features=[], target='target',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='most frequent',
                                 numeric_strategy='mean',
                                 target_variable=None)),
                 ('new_levels1',
                  New_Catagorica...
                 ('cluster_all', Empty()), ('dummy', Dummify(target='target')),
                 ('fix_perfect', Remove_100(target='target')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select',
                  Advanced_Feature_Selection_Classic(ml_usecase='classification',
                                                     random_state=4409,
                                                     subclass='binary',
                                                     target='target',
                                                     top_features_to_pick=0.19999999999999996)),
                 ('fix_multi', Empty()), ('dfs', Empty()), ('pca', Empty())],
          verbose=False),
 [('Classification Setup Config',
                         Description        Value
   0                      session_id         4409
   1                     Target Type       Binary
   2                   Label Encoded         None
   3                   Original Data  (18359, 14)
   4                 Missing Values          True
   5               Numeric Features             3
   6           Categorical Features            10
   7               Ordinal Features         False
   8      High Cardinality Features         False
   9        High Cardinality Method          None
   10                   Sampled Data  (17441, 14)
   11          Transformed Train Set  (15696, 50)
   12           Transformed Test Set   (1745, 50)
   13               Numeric Imputer          mean
   14           Categorical Imputer          mode
   15                     Normalize          True
   16              Normalize Method        robust
   17                Transformation         False
   18         Transformation Method          None
   19                           PCA         False
   20                    PCA Method          None
   21                PCA Components          None
   22           Ignore Low Variance          True
   23           Combine Rare Levels          True
   24          Rare Level Threshold           0.1
   25               Numeric Binning         False
   26               Remove Outliers          True
   27            Outliers Threshold          0.05
   28      Remove Multicollinearity         False
   29   Multicollinearity Threshold          None
   30                    Clustering         False
   31          Clustering Iteration          None
   32           Polynomial Features         False
   33             Polynomial Degree          None
   34          Trignometry Features         False
   35          Polynomial Threshold          None
   36                Group Features         False
   37             Feature Selection          True
   38  Features Selection Threshold           0.8
   39           Feature Interaction         False
   40                 Feature Ratio         False
   41         Interaction Threshold          None),
  ('X_training Set',
          company_size_500-999  education_level_Masters  experience_3  \
   6927                    0.0                      0.0           0.0
   18024                   0.0                      0.0           1.0
   9676                    0.0                      0.0           0.0
   4565                    1.0                      1.0           0.0

In [11]:
tuned_svm = tune_model('rbfsvm', optimize = 'AUC')

      Accuracy     AUC  Recall   Prec.      F1   Kappa
0       0.6573  0.6630  0.5437  0.2014  0.2940  0.1268
1       0.6592  0.6109  0.5097  0.1948  0.2819  0.1136
2       0.6701  0.6155  0.4709  0.1917  0.2725  0.1057
3       0.6382  0.6429  0.5097  0.1836  0.2699  0.0954
4       0.6344  0.6257  0.5243  0.1849  0.2734  0.0985
5       0.6510  0.6513  0.5485  0.1989  0.2920  0.1231
6       0.6558  0.6278  0.5415  0.1993  0.2913  0.1240
7       0.6648  0.6569  0.6049  0.2179  0.3204  0.1588
8       0.6444  0.6109  0.4634  0.1750  0.2540  0.0794
9       0.6291  0.6260  0.5340  0.1846  0.2743  0.0984
Mean    0.6504  0.6331  0.5251  0.1932  0.2824  0.1124
SD      0.0128  0.0182  0.0385  0.0115  0.0172  0.0210

In [ ]:
plot_model(estimator = tuned_lg, plot = 'learning')

IntProgress(value=0, description='Processing: ', max=5)

In [ ]:
plot_model(estimator = tuned_lightgbm, plot = 'feature')

In [49]:
new_prediction_lgb = predict_model(tuned_svm,test_data)
#Result_Promoted = pd.DataFrame({'enrollee_id': test_data["enrollee_id"], 'target' : new_prediction_lgb["Label"]})
Result_Promoted = new_prediction_lgb
pd.DataFrame(Result_Promoted).to_csv(r"D:/HR_Analytics/Competition/"+"predictions_frame_svm_labelencoded"+".csv",index=False)

In [19]:
save_experiment('09052020-svmpart4')

Experiment Succesfully Saved