In [64]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score,roc_auc_score,roc_curve,classification_report,confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from skopt.callbacks import DeadlineStopper, VerboseCallback, DeltaXStopper
from pycaret.classification import *
from skopt.space import Real, Categorical, Integer
from time import time
from skopt import BayesSearchCV
from catboost import CatBoostClassifier
from sklearn.preprocessing import StandardScaler
from scipy.stats import randint as sp_randint
from scipy.stats import uniform as sp_uniform
import lightgbm as lgb
import xgboost as xgb
from IPython.display import Image  
from sklearn.externals.six import StringIO
from sklearn.tree import export_graphviz
import pydot_ng as pydot
from IPython.display import Image
import pydotplus
from xgboost import XGBClassifier

In [3]:
train = pd.read_csv('train_jqd04QH.csv')
test = pd.read_csv('test_KaymcHn.csv')

In [4]:
train.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,23798,city_149,0.689,Male,Has relevent experience,no_enrollment,Graduate,STEM,3,100-500,Pvt Ltd,1,106,0
1,29166,city_83,0.923,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,<10,Funded Startup,1,69,0
2,46,city_16,0.910,NaN,Has relevent experience,no_enrollment,Graduate,STEM,6,50-99,Public Sector,2,4,0
3,18527,city_64,0.666,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,50-99,Pvt Ltd,1,26,0
4,21751,city_100,0.887,NaN,No relevent experience,no_enrollment,Masters,STEM,8,NaN,NaN,2,88,1

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18359 entries, 0 to 18358
Data columns (total 14 columns):
enrollee_id               18359 non-null int64
city                      18359 non-null object
city_development_index    18359 non-null float64
gender                    14261 non-null object
relevent_experience       18359 non-null object
enrolled_university       18017 non-null object
education_level           17902 non-null object
major_discipline          15521 non-null object
experience                18300 non-null object
company_size              13580 non-null object
company_type              13320 non-null object
last_new_job              17992 non-null object
training_hours            18359 non-null int64
target                    18359 non-null int64
dtypes: float64(1), int64(3), object(10)
memory usage: 2.0+ MB

In [6]:
train.isnull().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    4098
relevent_experience          0
enrolled_university        342
education_level            457
major_discipline          2838
experience                  59
company_size              4779
company_type              5039
last_new_job               367
training_hours               0
target                       0
dtype: int64

In [8]:
cols = list(train.columns)
for i in cols:
    if (i !='enrollee_id'):
        print()
        print(i)
        print(train[i].nunique())

city
123

city_development_index
93

gender
3

relevent_experience
2

enrolled_university
3

education_level
5

major_discipline
6

experience
22

company_size
8

company_type
6

last_new_job
6

training_hours
241

target
2

In [19]:
cols = list(train.columns)
for i in cols:
    if (i !='enrollee_id'):
        print()
        print(i)
        print(train[i].unique())

city
['city_149' 'city_83' 'city_16' 'city_64' 'city_100' 'city_21' 'city_114'
 'city_103' 'city_97' 'city_160' 'city_65' 'city_90' 'city_75' 'city_136'
 'city_159' 'city_67' 'city_28' 'city_10' 'city_73' 'city_76' 'city_104'
 'city_27' 'city_30' 'city_61' 'city_99' 'city_41' 'city_142' 'city_9'
 'city_116' 'city_128' 'city_74' 'city_69' 'city_1' 'city_176' 'city_40'
 'city_123' 'city_152' 'city_165' 'city_89' 'city_36' 'city_44' 'city_46'
 'city_45' 'city_134' 'city_93' 'city_180' 'city_162' 'city_84' 'city_138'
 'city_173' 'city_19' 'city_71' 'city_158' 'city_23' 'city_102' 'city_105'
 'city_91' 'city_11' 'city_13' 'city_57' 'city_20' 'city_14' 'city_37'
 'city_115' 'city_50' 'city_167' 'city_12' 'city_143' 'city_126' 'city_77'
 'city_101' 'city_150' 'city_179' 'city_107' 'city_175' 'city_146'
 'city_98' 'city_166' 'city_118' 'city_129' 'city_127' 'city_24' 'city_81'
 'city_26' 'city_139' 'city_94' 'city_70' 'city_145' 'city_157' 'city_111'
 'city_78' 'city_80' 'city_33' 'city_7' 'city_72' 'city_43' 'city_144'
 'city_39' 'city_59' 'city_48' 'city_131' 'city_121' 'city_141' 'city_42'
 'city_117' 'city_55' 'city_54' 'city_8' 'city_62' 'city_53' 'city_106'
 'city_155' 'city_133' 'city_171' 'city_2' 'city_120' 'city_18' 'city_79'
 'city_31' 'city_109' 'city_25' 'city_82' 'city_140']

city_development_index
[0.689 0.923 0.91  0.666 0.887 0.624 0.926 0.92  0.925 0.802 0.698 0.939
 0.897 0.843 0.855 0.895 0.754 0.924 0.848 0.913 0.915 0.827 0.727 0.743
 0.527 0.579 0.856 0.847 0.764 0.776 0.738 0.903 0.893 0.725 0.762 0.89
 0.865 0.767 0.836 0.878 0.682 0.884 0.766 0.899 0.804 0.794 0.691 0.55
 0.866 0.796 0.789 0.896 0.921 0.64  0.74  0.479 0.83  0.558 0.512 0.518
 0.735 0.949 0.649 0.722 0.625 0.745 0.73  0.487 0.555 0.769 0.448 0.647
 0.795 0.516 0.84  0.898 0.775 0.493 0.68  0.781 0.763 0.563 0.739 0.645
 0.556 0.742 0.664 0.788 0.78  0.824 0.807 0.701 0.693]

gender
['Male' nan 'Female' 'Other']

relevent_experience
['Has relevent experience' 'No relevent experience']

enrolled_university
['no_enrollment' 'Full time course' 'Part time course' nan]

education_level
['Graduate' 'Masters' 'High School' 'Phd' nan 'Primary School']

major_discipline
['STEM' 'Other' 'No Major' nan 'Business Degree' 'Arts' 'Humanities']

experience
['3' '14' '6' '8' '>20' '4' '9' '15' '10' '1' '5' '16' '11' '12' '7' '2'
 '13' '<1' '19' '18' '17' nan '20']

company_size
['100-500' '<10' '50-99' nan '5000-9999' '10000+' '1000-4999' '500-999'
 '10/49']

company_type
['Pvt Ltd' 'Funded Startup' 'Public Sector' nan 'Early Stage Startup'
 'NGO' 'Other']

last_new_job
['1' '2' '3' '>4' 'never' '4' nan]

training_hours
[106  69   4  26  88  34  23   8  10  85  55  13  51  28  35  42  45  11
  12  54  89  41 298 101 114 104  53  39  20 109   3  68 262  16  22  67
  43   7  30   9 112  21 166 110  18  79  98  65  61  44 170 132 145  48
  46  37  86  96  33 152 168 128 102   6  50  36  90 164  56  32  17 126
  72  15  80  25  31 160  66  24 200  47  83  58  29 206  14 105  91 218
  75  57  19 144  92  94 184  62 140  52 258 178 270 108 157 156 123  59
  82  60   2 196  95  84   5 146 202 100 111 254  27 336  64 107  76  38
 134 330 204 320  74  73  40  87 316 118 122 282 248 153 147  70 131 113
 216 292  81 176  78 222 163  63 280 210 294 264 155  77  97 224 180 236
 125 162 116 158 256  49  71 326   1 238 124 268 214 192 232 276 165 138
 310 167 288 117  99 198 240 119 136 139 150 266 220 172 133 284 272 312
 306 130 154 188 174 182 332 290 120 121 328 190 308 278 322 244 324 143
 194 129 103 246 127 142 151 212 300 314 135 250 234 149 141 161 148 242
 226 304 228 260 286 302 334]

target
[0 1]

In [18]:
cols = list(train.columns)
for i in cols:
    if(train[i].isnull().sum()>=1):
        print()
        print(i)
        print('null values ',train[i].isnull().sum())
        print('% of null values in ',train[i].isnull().sum()/train['enrollee_id'].count()*100)

gender
null values  4098
% of null values in  22.321477204640775

enrolled_university
null values  342
% of null values in  1.8628465602701674

education_level
null values  457
% of null values in  2.489242333460428

major_discipline
null values  2838
% of null values in  15.458358298382265

experience
null values  59
% of null values in  0.3213682662454382

company_size
null values  4779
% of null values in  26.03082956588049

company_type
null values  5039
% of null values in  27.447028705267172

last_new_job
null values  367
% of null values in  1.9990195544419629

In [22]:
train[train['last_new_job'].isnull()]

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
30,23129,city_103,0.920,NaN,No relevent experience,no_enrollment,Graduate,STEM,8,10000+,Pvt Ltd,NaN,104,0
67,23783,city_90,0.698,NaN,No relevent experience,Full time course,Graduate,STEM,2,100-500,Pvt Ltd,NaN,145,0
112,12449,city_176,0.764,NaN,Has relevent experience,NaN,Masters,STEM,4,NaN,NaN,NaN,24,0
198,1980,city_21,0.624,NaN,Has relevent experience,Full time course,Graduate,STEM,<1,<10,Pvt Ltd,NaN,92,0
224,21814,city_100,0.887,NaN,Has relevent experience,no_enrollment,Graduate,STEM,10,5000-9999,NaN,NaN,23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18130,18444,city_114,0.926,NaN,No relevent experience,Full time course,High School,NaN,4,NaN,NaN,NaN,4,0
18211,19128,city_61,0.913,Male,No relevent experience,Full time course,Graduate,STEM,4,NaN,NaN,NaN,140,0
18246,18493,city_99,0.915,NaN,No relevent experience,Full time course,Graduate,STEM,11,NaN,NaN,NaN,24,0
18292,28252,city_21,0.624,NaN,No relevent experience,no_enrollment,Graduate,STEM,5,NaN,Public Sector,NaN,81,0
18338,7017,city_173,0.878,NaN,Has relevent experience,Full time course,Masters,STEM,>20,NaN,NaN,NaN,28,0

In [23]:
train[train['experience'].isnull()]

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
149,17077,city_134,0.698,NaN,No relevent experience,no_enrollment,NaN,NaN,NaN,NaN,NaN,never,106,0
940,23806,city_114,0.926,NaN,Has relevent experience,Full time course,NaN,NaN,NaN,100-500,NaN,1,35,0
1336,4823,city_123,0.738,NaN,Has relevent experience,no_enrollment,Graduate,STEM,NaN,100-500,Pvt Ltd,NaN,9,1
1445,17123,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,NaN,NaN,NaN,NaN,32,0
2031,19353,city_73,0.754,NaN,Has relevent experience,Full time course,Graduate,STEM,NaN,NaN,NaN,1,12,1
2627,20332,city_103,0.920,NaN,Has relevent experience,Full time course,Phd,STEM,NaN,10000+,Public Sector,never,56,0
2830,10582,city_36,0.893,NaN,No relevent experience,no_enrollment,High School,NaN,NaN,NaN,NaN,never,44,0
2905,14965,city_103,0.920,NaN,Has relevent experience,no_enrollment,Masters,STEM,NaN,NaN,NaN,NaN,70,0
3103,20153,city_103,0.920,NaN,No relevent experience,Full time course,Graduate,STEM,NaN,10000+,NaN,NaN,20,1
3306,21617,city_134,0.698,NaN,No relevent experience,no_enrollment,NaN,NaN,NaN,NaN,NaN,never,45,0
3551,17799,city_103,0.920,NaN,Has relevent experience,no_enrollment,Masters,STEM,NaN,10000+,NaN,NaN,64,0
3801,3816,city_138,0.836,Male,Has relevent experience,no_enrollment,Masters,STEM,NaN,500-999,NaN,1,21,0
4115,10645,city_21,0.624,NaN,Has relevent experience,no_enrollment,Graduate,STEM,NaN,100-500,Pvt Ltd,1,60,1
4419,17871,city_134,0.698,Other,No relevent experience,NaN,NaN,NaN,NaN,NaN,NaN,never,49,0
5608,21635,city_21,0.624,NaN,Has relevent experience,Full time course,Graduate,STEM,NaN,5000-9999,Pvt Ltd,1,242,0
5633,12786,city_136,0.897,NaN,Has relevent experience,Full time course,Graduate,STEM,NaN,10/49,NGO,NaN,26,1
6489,16308,city_21,0.624,Female,Has relevent experience,no_enrollment,Masters,STEM,NaN,5000-9999,Pvt Ltd,NaN,216,0
7033,24318,city_126,0.479,NaN,No relevent experience,NaN,High School,NaN,NaN,<10,Early Stage Startup,1,38,0
7427,12038,city_90,0.698,Male,Has relevent experience,Full time course,Masters,NaN,NaN,NaN,NaN,NaN,44,1
7577,4417,city_103,0.920,NaN,No relevent experience,no_enrollment,NaN,NaN,NaN,NaN,NaN,NaN,99,0
8443,3113,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,NaN,1000-4999,Pvt Ltd,1,94,0
8490,21042,city_103,0.920,NaN,Has relevent experience,Full time course,Graduate,STEM,NaN,50-99,Funded Startup,>4,24,0
8617,15516,city_136,0.897,Male,Has relevent experience,no_enrollment,Masters,STEM,NaN,100-500,NaN,NaN,46,0
8838,25035,city_116,0.743,NaN,Has relevent experience,no_enrollment,Masters,STEM,NaN,NaN,NaN,2,144,0
9009,8082,city_16,0.910,NaN,Has relevent experience,no_enrollment,Masters,Other,NaN,50-99,Pvt Ltd,2,40,0
9089,16736,city_103,0.920,NaN,No relevent experience,no_enrollment,Masters,STEM,NaN,10000+,NaN,NaN,103,0
9199,32626,city_150,0.698,Other,Has relevent experience,NaN,NaN,NaN,NaN,10/49,NaN,1,51,1
9396,15198,city_103,0.920,Male,No relevent experience,Full time course,NaN,NaN,NaN,NaN,NaN,NaN,21,0
9558,7811,city_36,0.893,NaN,Has relevent experience,Part time course,High School,NaN,NaN,100-500,NaN,NaN,94,0
9635,25181,city_100,0.887,NaN,Has relevent experience,no_enrollment,Masters,STEM,NaN,10/49,Funded Startup,3,4,0
9982,9306,city_67,0.855,Male,Has relevent experience,no_enrollment,Masters,Business Degree,NaN,NaN,Pvt Ltd,>4,96,1
10006,21862,city_114,0.926,NaN,Has relevent experience,NaN,Graduate,STEM,NaN,50-99,NGO,1,138,0
10646,27758,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,NaN,<10,Pvt Ltd,>4,19,0
10936,31348,city_99,0.915,Other,Has relevent experience,no_enrollment,Phd,STEM,NaN,1000-4999,Pvt Ltd,>4,35,0
11049,17642,city_134,0.698,NaN,No relevent experience,no_enrollment,NaN,NaN,NaN,NaN,NaN,never,33,0
11356,10798,city_73,0.754,NaN,Has relevent experience,no_enrollment,Masters,NaN,NaN,50-99,Pvt Ltd,NaN,5,0
11386,12373,city_103,0.920,NaN,Has relevent experience,Full time course,NaN,NaN,NaN,NaN,NaN,>4,96,1
11462,11963,city_61,0.913,Female,Has relevent experience,no_enrollment,Masters,Humanities,NaN,50-99,NaN,1,24,0
11651,17052,city_90,0.698,NaN,Has relevent experience,no_enrollment,NaN,NaN,NaN,NaN,NaN,>4,118,1
11871,22849,city_116,0.743,NaN,Has relevent experience,no_enrollment,NaN,NaN,NaN,50-99,Pvt Ltd,never,12,0
11934,6473,city_21,0.624,Male,Has relevent experience,Full time course,Graduate,STEM,NaN,1000-4999,Pvt Ltd,1,18,0
13036,10761,city_21,0.624,Male,Has relevent experience,Full time course,Graduate,STEM,NaN,100-500,Pvt Ltd,1,52,0
13197,15273,city_103,0.920,NaN,Has relevent experience,no_enrollment,Masters,STEM,NaN,NaN,NaN,NaN,34,0
13561,24875,city_103,0.920,NaN,No relevent experience,Full time course,Graduate,STEM,NaN,10/49,NaN,1,41,1
13839,19780,city_105,0.794,Female,Has relevent experience,no_enrollment,Masters,NaN,NaN,500-999,NaN,1,53,0
13921,8470,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,NaN,500-999,Pvt Ltd,NaN,11,0
14366,1435,city_103,0.920,NaN,No relevent experience,no_enrollment,High School,NaN,NaN,NaN,NaN,NaN,4,0
14652,2978,city_21,0.624,NaN,Has relevent experience,Full time course,Graduate,Other,NaN,10000+,Public Sector,NaN,91,0
14715,5876,city_21,0.624,NaN,Has relevent experience,no_enrollment,Graduate,STEM,NaN,100-500,Pvt Ltd,NaN,256,0
14837,30800,city_16,0.910,Male,No relevent experience,Full time course,Graduate,STEM,NaN,500-999,NaN,1,153,0
15075,16148,city_103,0.920,Male,Has relevent experience,no_enrollment,Masters,STEM,NaN,10000+,Pvt Ltd,1,136,0
15500,20587,city_91,0.691,NaN,Has relevent experience,no_enrollment,Graduate,STEM,NaN,100-500,Pvt Ltd,1,56,0
15585,23156,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,NaN,10000+,Pvt Ltd,1,83,0
15844,30213,city_21,0.624,NaN,No relevent experience,no_enrollment,NaN,NaN,NaN,NaN,NaN,never,44,0
16186,23947,city_103,0.920,NaN,No relevent experience,no_enrollment,Phd,STEM,NaN,NaN,NaN,NaN,70,0
16270,7907,city_21,0.624,NaN,Has relevent experience,no_enrollment,Graduate,STEM,NaN,NaN,Funded Startup,NaN,27,0
16327,16915,city_103,0.920,NaN,No relevent experience,no_enrollment,Graduate,Arts,NaN,NaN,Pvt Ltd,3,34,0
16414,11099,city_11,0.550,NaN,Has relevent experience,no_enrollment,Graduate,STEM,NaN,1000-4999,NaN,NaN,46,0
18014,24137,city_21,0.624,NaN,No relevent experience,NaN,Graduate,STEM,NaN,<10,NaN,NaN,36,1

In [37]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18359 entries, 0 to 18358
Data columns (total 14 columns):
enrollee_id               18359 non-null int64
city                      18359 non-null object
city_development_index    18359 non-null float64
gender                    14261 non-null object
relevent_experience       18359 non-null object
enrolled_university       18017 non-null object
education_level           17902 non-null object
major_discipline          15521 non-null object
experience                18300 non-null object
company_size              13580 non-null object
company_type              13320 non-null object
last_new_job              17992 non-null object
training_hours            18359 non-null int64
target                    18359 non-null int64
dtypes: float64(1), int64(3), object(10)
memory usage: 2.0+ MB

In [40]:
train['city'].dtype

dtype('O')

In [34]:
from sklearn.preprocessing import LabelEncoder

In [44]:
lr = LabelEncoder()
cs = [i for i in train.columns if train[i].dtype == 'object']
for c in cs:
    lr.fit(list(train[c].values))
    train[c] = lr.transform(list(train[c].values))

In [45]:
train.shape

(18359, 14)

In [29]:
imputor = KNNImputer(n_neighbors=5)

In [31]:
col = ['enrollee_id', 'city', 'city_development_index', 'gender',
       'relevent_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours', 'target']

In [46]:
knn_train = pd.DataFrame(np.round(imputor.fit_transform(train)),columns=col)

In [54]:
colu = list(knn_train.columns)
for i in colu:
    if (i!='city_development_index'):
        knn_train[i]=knn_train[i].astype(int)

In [56]:
clf1 = setup(data = knn_train, 
             target = 'target',
             numeric_imputation = 'mean',
             categorical_features = ['city', 'gender','relevent_experience','enrolled_university',
                                     'education_level','major_discipline', 'experience',
                                      'company_size', 'company_type','last_new_job',], 
             ignore_features = ['enrollee_id'],
             silent = True)

Setup Succesfully Completed!

In [58]:
compare_models(sort='AUC')

In [59]:
x = knn_train.drop(['target','enrollee_id'],axis=1)
y = knn_train['target']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=143)

In [61]:
def model_eval(algo,Xtrain,ytrain,Xtest,ytest):
    algo.fit(Xtrain,ytrain)

    y_train_pred=algo.predict(Xtrain)
    y_train_prob=algo.predict_proba(Xtrain)[:,1]
    
    y_test_pred=algo.predict(Xtest)
    y_test_prob=algo.predict_proba(Xtest)[:,1]
    print(algo)
    print('\n'*1)
    print(' Accuracy score of train: ', accuracy_score(ytrain,y_train_pred))
    print(' Accuracy score of test: ', accuracy_score(ytest,y_test_pred))
    print('\n'*1)
    print(' Confusion Matrix of train: ', confusion_matrix(ytrain,y_train_pred))
    print(' Confusion Matrix of test: ', confusion_matrix(ytest,y_test_pred))
    print('\n'*1)
    print(' Auc of train: ', roc_auc_score(ytrain,y_train_prob))
    print(' Auc of test: ', roc_auc_score(ytest,y_test_prob))

In [60]:
import xgboost as xgb
from bayes_opt import BayesianOptimization

In [65]:
xgb  = XGBClassifier()
model_eval(xgb,x_train,y_train,x_test,y_test)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)


 Accuracy score of train:  0.867948019609369
 Accuracy score of test:  0.8678286129266521


 Confusion Matrix of train:  [[11154     0]
 [ 1697     0]]
 Confusion Matrix of test:  [[4780    0]
 [ 728    0]]


 Auc of train:  0.6450331508239129
 Auc of test:  0.48723461423513725

In [66]:
import xgboost as xgb
from bayes_opt import BayesianOptimization
dtrain=xgb.DMatrix(x_train,y_train.ravel())
cv_results=[]
par=[]
def bo_tune_xgb(max_depth,min_child_weight,n_estimators):
    params = {'max_depth': int(round(max_depth)),
              'min_child_weight': int(round(min_child_weight)),
              'eval_metric':"auc",
              'n_estimators':int(round(n_estimators)),
              #"learning_rate":.1,
              #'gamma':gamma,
              'objective':'binary:logistic'
             }
    cv_result = xgb.cv(params,dtrain,num_boost_round=20,nfold=3)    
    cv_results.append(cv_result)
    par.append(params)
    #Return the negative RMSE
    print(cv_result)
    return max(cv_result["test-auc-mean"])

xgb_bo = BayesianOptimization(bo_tune_xgb, {
                                            "max_depth"        : (10,50),
                                            "min_child_weight" : (1,150),
                                            "n_estimators"     : (50,300),
                                            #"gamma"            :(0,1)
                                        })

xgb_bo.maximize(init_points=10, n_iter=30)

|   iter    |  target   | max_depth | min_ch... | n_esti... |
-------------------------------------------------------------
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.520997       0.020715       0.498752      0.000883
1         0.580231       0.014877       0.499677      0.002993
2         0.609292       0.007478       0.497650      0.002652
3         0.620757       0.008412       0.499091      0.003234
4         0.629973       0.005190       0.498808      0.006163
5         0.633801       0.005752       0.497262      0.006705
6         0.637341       0.008421       0.500599      0.004664
7         0.639996       0.007187       0.500933      0.002651
8         0.642544       0.009742       0.501327      0.003948
9         0.647743       0.008375       0.503845      0.003998
10        0.651143       0.007181       0.503917      0.006288
11        0.654376       0.008317       0.504675      0.008248
12        0.657239       0.007399       0.502223      0.008911
13        0.660752       0.004353       0.504456      0.010131
14        0.665284       0.006909       0.505206      0.012011
15        0.669308       0.007081       0.506494      0.012355
16        0.670910       0.006131       0.504456      0.011082
17        0.672915       0.006297       0.504969      0.010444
18        0.675009       0.005323       0.505457      0.011782
19        0.679488       0.004741       0.503771      0.009601
|  1        |  0.5065   |  21.22    |  56.16    |  272.4    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.524965       0.029867       0.496221      0.004144
1         0.614483       0.027147       0.502263      0.009361
2         0.659694       0.011706       0.497390      0.009912
3         0.690740       0.012329       0.496123      0.010521
4         0.707003       0.009055       0.493417      0.009093
5         0.717901       0.009037       0.495136      0.009100
6         0.728733       0.008144       0.493333      0.008447
7         0.737698       0.007603       0.492058      0.010226
8         0.744853       0.007000       0.490071      0.008939
9         0.751081       0.006674       0.492300      0.008064
10        0.758624       0.003371       0.491677      0.006595
11        0.763464       0.003712       0.493701      0.008774
12        0.770663       0.004311       0.492143      0.006270
13        0.776163       0.004025       0.490835      0.004771
14        0.780982       0.002264       0.490818      0.001738
15        0.785409       0.003001       0.492386      0.002877
16        0.789540       0.003345       0.493799      0.002521
17        0.793513       0.002535       0.493504      0.002067
18        0.798893       0.003922       0.494399      0.002579
19        0.804754       0.004048       0.496699      0.003948
|  2        |  0.5023   |  36.24    |  19.83    |  215.1    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.548875       0.007599       0.492039      0.001101
2         0.565391       0.001697       0.494963      0.005258
3         0.569186       0.001901       0.497088      0.005204
4         0.575105       0.001334       0.496183      0.007891
5         0.576177       0.001314       0.495356      0.005420
6         0.577804       0.001715       0.497497      0.005804
7         0.579176       0.001271       0.497510      0.004574
8         0.580571       0.001701       0.497782      0.004739
9         0.581783       0.001401       0.498034      0.003619
10        0.584646       0.002217       0.498702      0.007092
11        0.585851       0.001245       0.497995      0.004920
12        0.587590       0.001405       0.499038      0.003166
13        0.588943       0.001915       0.498418      0.002676
14        0.590065       0.002553       0.497899      0.002676
15        0.591432       0.002707       0.498034      0.001648
16        0.592799       0.002468       0.498020      0.002151
17        0.593410       0.003257       0.496518      0.000743
18        0.594423       0.004236       0.495972      0.002606
19        0.595685       0.005411       0.496447      0.000925
|  3        |  0.499    |  15.49    |  141.3    |  145.3    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.559386       0.006601       0.492664      0.005696
2         0.578312       0.001955       0.497256      0.002846
3         0.585050       0.002027       0.492959      0.003068
4         0.591813       0.002791       0.491203      0.003488
5         0.595341       0.002063       0.490352      0.005085
6         0.598012       0.002602       0.489050      0.005696
7         0.600953       0.002753       0.491472      0.008265
8         0.605473       0.001513       0.494727      0.004837
9         0.609521       0.000470       0.494623      0.004657
10        0.611306       0.002961       0.492511      0.005487
11        0.614051       0.002824       0.493142      0.006565
12        0.615637       0.002199       0.493221      0.005884
13        0.616127       0.002013       0.493209      0.003353
14        0.617697       0.002260       0.494761      0.004430
15        0.619180       0.003196       0.495313      0.003457
16        0.621699       0.002766       0.494645      0.005027
17        0.622888       0.003427       0.495814      0.005105
18        0.625839       0.002728       0.494262      0.003957
19        0.626881       0.002979       0.493906      0.005456
|  4        |  0.4985   |  29.07    |  94.43    |  203.5    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.520997       0.020715       0.498752      0.000883
1         0.581148       0.016668       0.498227      0.001623
2         0.608464       0.014125       0.499594      0.002509
3         0.623176       0.005541       0.497759      0.005846
4         0.633819       0.003979       0.501060      0.002307
5         0.642186       0.004249       0.495297      0.005041
6         0.646418       0.001814       0.493010      0.004018
7         0.649045       0.004601       0.494695      0.006033
8         0.653254       0.004588       0.495178      0.005782
9         0.657282       0.003421       0.497111      0.005316
10        0.662255       0.003350       0.492400      0.007204
11        0.663965       0.004695       0.494409      0.007862
12        0.666742       0.005057       0.495863      0.007527
13        0.669946       0.003476       0.494758      0.007968
14        0.673514       0.003504       0.495268      0.006224
15        0.677699       0.003487       0.496249      0.004529
16        0.679373       0.003507       0.495948      0.004917
17        0.682425       0.002329       0.498944      0.005099
18        0.684634       0.002724       0.497917      0.005852
19        0.686317       0.001910       0.498877      0.005343
|  5        |  0.5011   |  22.47    |  50.67    |  299.2    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.525989       0.029326       0.496998      0.005079
1         0.624419       0.029008       0.502511      0.009887
2         0.678625       0.004175       0.494587      0.001491
3         0.716735       0.005871       0.500646      0.004756
4         0.740811       0.003993       0.498927      0.003543
5         0.751814       0.005856       0.503171      0.007780
6         0.766592       0.005632       0.502447      0.008143
7         0.777630       0.007128       0.500486      0.010815
8         0.786426       0.008260       0.500747      0.011113
9         0.794070       0.005210       0.501214      0.010727
10        0.799604       0.003425       0.496206      0.009049
11        0.807522       0.002672       0.498381      0.011769
12        0.815004       0.001653       0.496184      0.010519
13        0.820870       0.001876       0.494719      0.008644
14        0.828464       0.002969       0.498044      0.011235
15        0.833337       0.003201       0.495939      0.012289
16        0.838151       0.002183       0.496761      0.011745
17        0.844022       0.002606       0.494287      0.011120
18        0.849381       0.002483       0.493973      0.011089
19        0.853394       0.002398       0.492838      0.011379
|  6        |  0.5032   |  33.55    |  13.73    |  240.3    |

    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.550275       0.007397       0.492369      0.000800
2         0.566811       0.001648       0.496812      0.002763
3         0.572713       0.001224       0.494356      0.006697
4         0.578868       0.002524       0.495402      0.001573
5         0.581909       0.001612       0.497145      0.001173
6         0.584801       0.002673       0.500219      0.001726
7         0.588019       0.003093       0.500985      0.001688
8         0.590521       0.004068       0.499499      0.002815
9         0.590366       0.003594       0.496988      0.001460
10        0.593110       0.002710       0.497744      0.001707
11        0.595221       0.002031       0.497308      0.002956
12        0.596780       0.003422       0.498124      0.002804
13        0.598496       0.002108       0.499290      0.002310
14        0.599168       0.002009       0.500173      0.003246
15        0.600008       0.001812       0.498463      0.004958
16        0.601344       0.002046       0.499520      0.005328
17        0.602967       0.000284       0.500283      0.005525
18        0.604667       0.001173       0.500556      0.005395
19        0.604535       0.002201       0.501053      0.006134
|  7        |  0.5011   |  41.58    |  125.8    |  218.6    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.549845       0.008966       0.491215      0.002148
2         0.565811       0.002115       0.494170      0.006940
3         0.569688       0.003012       0.495868      0.006233
4         0.575747       0.001979       0.495806      0.007675
5         0.578277       0.000744       0.494576      0.005818
6         0.578744       0.003179       0.495805      0.005067
7         0.580510       0.003006       0.497139      0.006111
8         0.584825       0.002608       0.497704      0.005719
9         0.586657       0.001998       0.499143      0.002589
10        0.588325       0.002300       0.498970      0.001153
11        0.590469       0.003482       0.498325      0.002496
12        0.592771       0.002255       0.502228      0.003501
13        0.594260       0.001842       0.501330      0.001144
14        0.595457       0.003241       0.500752      0.003654
15        0.597059       0.003208       0.499903      0.003902
16        0.597947       0.003740       0.499464      0.002565
17        0.599251       0.003951       0.498071      0.003175
18        0.599238       0.003239       0.497962      0.002664
19        0.599990       0.003156       0.496181      0.001622
|  8        |  0.5022   |  46.75    |  134.0    |  177.1    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.550984       0.006881       0.492445      0.000929
2         0.568410       0.000902       0.499469      0.005162
3         0.575977       0.005830       0.494049      0.007937
4         0.581382       0.002589       0.493151      0.003012
5         0.583740       0.002533       0.492154      0.005259
6         0.585412       0.002012       0.496175      0.004860
7         0.590131       0.002405       0.496504      0.003872
8         0.591312       0.003928       0.496046      0.004376
9         0.592429       0.003925       0.496149      0.005014
10        0.594456       0.003871       0.498356      0.003847
11        0.595719       0.004063       0.498543      0.003170
12        0.596987       0.002894       0.499361      0.002406
13        0.598978       0.003476       0.500137      0.003567
14        0.600331       0.003575       0.499477      0.002951
15        0.601822       0.003197       0.499717      0.002811
16        0.603179       0.003094       0.498770      0.001860
17        0.604360       0.003456       0.498538      0.000766
18        0.604557       0.003439       0.498860      0.002372
19        0.605650       0.004051       0.499455      0.003144
|  9        |  0.5001   |  29.86    |  123.0    |  51.05    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.537425       0.026776       0.494104      0.007732
1         0.621052       0.014275       0.489475      0.009970
2         0.662955       0.005021       0.489245      0.004493
3         0.687755       0.007648       0.484405      0.004507
4         0.697029       0.005208       0.483243      0.003835
5         0.705152       0.004056       0.488891      0.003798
6         0.713635       0.003530       0.488045      0.005420
7         0.718809       0.003744       0.491098      0.006350
8         0.725562       0.004561       0.489585      0.005284
9         0.732052       0.005340       0.490932      0.005562
10        0.738842       0.003015       0.491779      0.007086
11        0.744896       0.003165       0.492667      0.009816
12        0.751760       0.004112       0.495630      0.012652
13        0.756300       0.003954       0.496991      0.011719
14        0.761384       0.003469       0.496575      0.011123
15        0.765755       0.001549       0.496547      0.011041
16        0.769559       0.000935       0.495805      0.008976
17        0.773934       0.000303       0.497136      0.008306
18        0.777950       0.001609       0.497166      0.008522
19        0.781582       0.001203       0.496176      0.009469
|  10       |  0.4972   |  47.42    |  23.1     |  94.55    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.548002       0.006959       0.493611      0.001581
2         0.565036       0.001534       0.496487      0.002232
3         0.568680       0.002114       0.498147      0.005445
4         0.571714       0.001644       0.500265      0.003267
5         0.574736       0.001515       0.497200      0.006597
6         0.575865       0.001907       0.497896      0.004512
7         0.576751       0.001875       0.499407      0.002438
8         0.579632       0.001559       0.498432      0.002781
9         0.580411       0.002241       0.500090      0.003720
10        0.580821       0.002311       0.498613      0.002797
11        0.582187       0.002864       0.499017      0.003217
12        0.583306       0.001773       0.499454      0.005117
13        0.584034       0.002961       0.499781      0.005072
14        0.584931       0.002851       0.499630      0.005007
15        0.586040       0.003086       0.499327      0.004799
16        0.587006       0.003090       0.498913      0.003534
17        0.588674       0.002799       0.498326      0.005433
18        0.590716       0.003719       0.497600      0.003251
19        0.591951       0.003275       0.496728      0.003258
|  11       |  0.5003   |  10.36    |  149.0    |  299.5    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.548187       0.042701       0.496214      0.005769
1         0.695620       0.002731       0.495030      0.014766
2         0.787531       0.002666       0.494857      0.010246
3         0.848021       0.000714       0.492393      0.012232
4         0.887872       0.003205       0.492239      0.004318
5         0.911726       0.003486       0.494154      0.006310
6         0.929695       0.001158       0.499366      0.005760
7         0.943761       0.001084       0.494489      0.003518
8         0.953820       0.001156       0.494182      0.002178
9         0.961268       0.001765       0.495263      0.003258
10        0.968521       0.001773       0.498216      0.004433
11        0.974339       0.001404       0.496703      0.002790
12        0.978492       0.001169       0.494299      0.003235
13        0.981924       0.000984       0.492055      0.003684
14        0.985150       0.000695       0.493645      0.004729
15        0.987702       0.000609       0.495133      0.005905
16        0.989700       0.000581       0.493597      0.006640
17        0.991155       0.000566       0.492757      0.005703
18        0.992541       0.000527       0.493387      0.005398
19        0.993522       0.000541       0.495200      0.004327
|  12       |  0.4994   |  45.87    |  2.679    |  298.2    |

    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.547567       0.041607       0.497077      0.004778
1         0.700031       0.022897       0.494044      0.011976
2         0.808518       0.014029       0.487391      0.001487
3         0.859769       0.001676       0.483854      0.002840
4         0.880703       0.007616       0.483002      0.004921
5         0.913486       0.001240       0.487617      0.006760
6         0.927972       0.003928       0.490437      0.006434
7         0.940106       0.001858       0.494436      0.007318
8         0.951840       0.002773       0.496698      0.005215
9         0.959360       0.004759       0.497158      0.004529
10        0.966057       0.004043       0.497739      0.006326
11        0.972418       0.003957       0.501196      0.004830
12        0.974636       0.004304       0.499263      0.005346
13        0.978373       0.003398       0.498689      0.004617
14        0.981752       0.001858       0.497703      0.003076
15        0.985068       0.000559       0.498350      0.002836
16        0.988357       0.000264       0.497047      0.002787
17        0.989947       0.000702       0.498407      0.003291
18        0.991927       0.000480       0.496992      0.003085
19        0.993267       0.000835       0.496874      0.001513
|  13       |  0.5012   |  17.01    |  1.973    |  299.7    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.548002       0.006959       0.493611      0.001581
2         0.565036       0.001534       0.496487      0.002232
3         0.568835       0.002173       0.496701      0.006005
4         0.572453       0.000948       0.498599      0.005499
5         0.575439       0.001543       0.496864      0.009514
6         0.576649       0.001167       0.498268      0.006990
7         0.577425       0.001815       0.498991      0.003886
8         0.579199       0.000548       0.499120      0.005704
9         0.581321       0.001034       0.500217      0.005156
10        0.583273       0.002048       0.500971      0.005279
11        0.584110       0.002398       0.498692      0.003015
12        0.585233       0.002750       0.499732      0.003468
13        0.585603       0.002882       0.500918      0.003058
14        0.588701       0.003346       0.499292      0.002455
15        0.588086       0.002896       0.497913      0.001758
16        0.588789       0.003309       0.497660      0.002583
17        0.590464       0.003339       0.498323      0.002205
18        0.590942       0.003017       0.499138      0.002067
19        0.592366       0.002478       0.498826      0.003219
|  14       |  0.501    |  49.24    |  147.7    |  298.1    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.547060       0.041441       0.496741      0.007649
1         0.680388       0.012469       0.496571      0.014393
2         0.739401       0.012313       0.489048      0.016066
3         0.778444       0.007822       0.490445      0.010313
4         0.791089       0.003956       0.487378      0.005814
5         0.808987       0.004104       0.488395      0.005205
6         0.826226       0.008474       0.492258      0.003563
7         0.847273       0.010951       0.494503      0.005718
8         0.865646       0.007036       0.496741      0.008668
9         0.874432       0.007954       0.497340      0.008373
10        0.882558       0.014071       0.499280      0.007262
11        0.886468       0.014830       0.502289      0.009071
12        0.894402       0.013171       0.501027      0.007857
13        0.906509       0.010623       0.501040      0.005675
14        0.911750       0.010591       0.502287      0.007807
15        0.916883       0.008071       0.502576      0.006726
16        0.922170       0.008530       0.501393      0.006601
17        0.926870       0.006877       0.499378      0.007771
18        0.930920       0.006501       0.498796      0.007255
19        0.935469       0.006910       0.499235      0.006621
|  15       |  0.5026   |  11.78    |  3.735    |  298.3    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.547388       0.041376       0.497006      0.004879
1         0.671928       0.011758       0.492590      0.010045
2         0.735290       0.005356       0.495369      0.009959
3         0.776942       0.004398       0.493913      0.007229
4         0.796238       0.010929       0.494727      0.000304
5         0.815270       0.017017       0.498073      0.006071
6         0.839952       0.003793       0.498677      0.006490
7         0.848498       0.003565       0.500206      0.005694
8         0.862184       0.006403       0.498281      0.003738
9         0.871528       0.007147       0.496696      0.001199
10        0.887871       0.010037       0.497565      0.004631
11        0.897008       0.012484       0.497842      0.005547
12        0.907154       0.009004       0.497879      0.006466
13        0.916934       0.006094       0.497556      0.007349
14        0.923316       0.006784       0.498429      0.007222
15        0.928608       0.007497       0.498625      0.006493
16        0.935831       0.005967       0.498440      0.005774
17        0.944549       0.006150       0.499660      0.003980
18        0.948149       0.004314       0.500169      0.003356
19        0.954691       0.001343       0.500047      0.002904
|  16       |  0.5002   |  10.76    |  2.245    |  297.8    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.548583       0.007780       0.492774      0.002098
2         0.564710       0.001388       0.494159      0.004129
3         0.568780       0.001973       0.497068      0.005046
4         0.574415       0.001159       0.495321      0.003848
5         0.575502       0.001312       0.495059      0.002944
6         0.575603       0.000448       0.496281      0.002652
7         0.579150       0.001941       0.497471      0.003922
8         0.581208       0.001506       0.498196      0.003463
9         0.581925       0.001789       0.497606      0.002628
10        0.584038       0.002313       0.495203      0.001839
11        0.585109       0.003210       0.494515      0.002550
12        0.585935       0.003157       0.495340      0.003972
13        0.586295       0.003221       0.496491      0.004968
14        0.587494       0.003459       0.497599      0.005303
15        0.589288       0.003840       0.497803      0.007888
16        0.589775       0.002850       0.497249      0.008997
17        0.591203       0.002354       0.498972      0.007222
18        0.592400       0.002078       0.498860      0.007376
19        0.593945       0.002694       0.497829      0.007261
|  17       |  0.499    |  13.96    |  145.2    |  298.2    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.547567       0.041607       0.497077      0.004778
1         0.704758       0.026540       0.493413      0.009490
2         0.822391       0.008164       0.489476      0.007536
3         0.882802       0.005863       0.491077      0.014059
4         0.920123       0.003968       0.496457      0.018399
5         0.941291       0.001982       0.495428      0.018510
6         0.957293       0.002025       0.496439      0.022048
7         0.969720       0.000426       0.494930      0.019727
8         0.977560       0.000507       0.495264      0.018817
9         0.983317       0.000436       0.492767      0.020787
10        0.987046       0.000383       0.492862      0.020061
11        0.990191       0.000388       0.491225      0.018634
12        0.992833       0.000220       0.491969      0.016011
13        0.994527       0.000247       0.495373      0.016613
14        0.995904       0.000122       0.495362      0.014623
15        0.996928       0.000104       0.496344      0.012847
16        0.997559       0.000177       0.496582      0.014362
17        0.998170       0.000190       0.495892      0.013651
18        0.998544       0.000150       0.496546      0.013655
19        0.998792       0.000065       0.498341      0.011655
|  18       |  0.4983   |  44.66    |  1.523    |  295.7    |

    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.548002       0.006959       0.493611      0.001581
2         0.565036       0.001534       0.496487      0.002232
3         0.568835       0.002173       0.496701      0.006005
4         0.572453       0.000948       0.498599      0.005499
5         0.575439       0.001543       0.496864      0.009514
6         0.576649       0.001167       0.498268      0.006990
7         0.577425       0.001815       0.498991      0.003886
8         0.579199       0.000548       0.499120      0.005704
9         0.581321       0.001034       0.500217      0.005156
10        0.583273       0.002048       0.500971      0.005279
11        0.584110       0.002398       0.498692      0.003015
12        0.585233       0.002750       0.499732      0.003468
13        0.585603       0.002882       0.500918      0.003058
14        0.588701       0.003346       0.499292      0.002455
15        0.588086       0.002896       0.497913      0.001758
16        0.588789       0.003309       0.497660      0.002583
17        0.590464       0.003339       0.498323      0.002205
18        0.590942       0.003017       0.499138      0.002067
19        0.592366       0.002478       0.498826      0.003219
|  19       |  0.501    |  49.58    |  148.3    |  56.27    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.548002       0.006959       0.493611      0.001581
2         0.565036       0.001534       0.496487      0.002232
3         0.568680       0.002114       0.498147      0.005445
4         0.571714       0.001644       0.500265      0.003267
5         0.574736       0.001515       0.497200      0.006597
6         0.575865       0.001907       0.497896      0.004512
7         0.576751       0.001875       0.499407      0.002438
8         0.579632       0.001559       0.498432      0.002781
9         0.580411       0.002241       0.500090      0.003720
10        0.580821       0.002311       0.498613      0.002797
11        0.582187       0.002864       0.499017      0.003217
12        0.583306       0.001773       0.499454      0.005117
13        0.584034       0.002961       0.499781      0.005072
14        0.584931       0.002851       0.499630      0.005007
15        0.586040       0.003086       0.499327      0.004799
16        0.587006       0.003090       0.498913      0.003534
17        0.588674       0.002799       0.498326      0.005433
18        0.590716       0.003719       0.497600      0.003251
19        0.591951       0.003275       0.496728      0.003258
|  20       |  0.5003   |  12.34    |  148.8    |  299.0    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.547158       0.041087       0.496775      0.005191
1         0.658928       0.013347       0.492478      0.009208
2         0.720540       0.005018       0.497308      0.012483
3         0.753555       0.003059       0.495323      0.005167
4         0.778777       0.013737       0.495312      0.004664
5         0.795020       0.017422       0.495383      0.005432
6         0.808452       0.022501       0.495521      0.008439
7         0.819992       0.021743       0.494701      0.008226
8         0.835206       0.015418       0.494491      0.006640
9         0.846013       0.016299       0.497403      0.005156
10        0.859473       0.012244       0.499340      0.003272
11        0.871587       0.012769       0.498469      0.000811
12        0.879002       0.014889       0.495585      0.004253
13        0.887903       0.011535       0.495018      0.007366
14        0.892708       0.013094       0.498143      0.008859
15        0.899498       0.008339       0.498591      0.007327
16        0.906880       0.002815       0.498568      0.006023
17        0.914395       0.001417       0.499852      0.006341
18        0.920202       0.001405       0.496769      0.006270
19        0.924376       0.003152       0.495614      0.006187
|  21       |  0.4999   |  10.22    |  2.238    |  62.93    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.553405       0.045412       0.496155      0.005897
1         0.675998       0.012643       0.495761      0.011483
2         0.736926       0.014836       0.497145      0.005061
3         0.784859       0.008124       0.490695      0.007147
4         0.815670       0.015428       0.491968      0.009883
5         0.830701       0.020791       0.491905      0.012759
6         0.846109       0.018915       0.489086      0.016433
7         0.868688       0.010141       0.493183      0.015335
8         0.882555       0.005535       0.489981      0.019510
9         0.893745       0.004569       0.488565      0.019701
10        0.909763       0.004407       0.490048      0.014940
11        0.918814       0.000657       0.490991      0.015676
12        0.928115       0.005513       0.494293      0.017766
13        0.934781       0.003837       0.493630      0.016346
14        0.943605       0.005162       0.491902      0.018811
15        0.946453       0.004666       0.492718      0.019042
16        0.950360       0.003976       0.492799      0.018351
17        0.954697       0.003371       0.493882      0.018496
18        0.958986       0.004566       0.493016      0.017796
19        0.963452       0.005196       0.494107      0.018909
|  22       |  0.4971   |  10.55    |  1.29     |  295.6    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.548002       0.006959       0.493611      0.001581
2         0.565036       0.001534       0.496487      0.002232
3         0.568835       0.002173       0.496701      0.006005
4         0.572453       0.000948       0.498599      0.005499
5         0.575439       0.001543       0.496864      0.009514
6         0.576649       0.001167       0.498268      0.006990
7         0.577425       0.001815       0.498991      0.003886
8         0.579199       0.000548       0.499120      0.005704
9         0.581321       0.001034       0.500217      0.005156
10        0.583273       0.002048       0.500971      0.005279
11        0.584110       0.002398       0.498692      0.003015
12        0.585233       0.002750       0.499732      0.003468
13        0.585603       0.002882       0.500918      0.003058
14        0.588701       0.003346       0.499292      0.002455
15        0.588086       0.002896       0.497913      0.001758
16        0.588789       0.003309       0.497660      0.002583
17        0.590464       0.003339       0.498323      0.002205
18        0.590942       0.003017       0.499138      0.002067
19        0.592366       0.002478       0.498826      0.003219
|  23       |  0.501    |  47.29    |  147.7    |  299.2    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.548002       0.006959       0.493611      0.001581
2         0.565036       0.001534       0.496487      0.002232
3         0.568835       0.002173       0.496701      0.006005
4         0.572453       0.000948       0.498599      0.005499
5         0.575439       0.001543       0.496864      0.009514
6         0.576649       0.001167       0.498268      0.006990
7         0.577425       0.001815       0.498991      0.003886
8         0.579199       0.000548       0.499120      0.005704
9         0.581321       0.001034       0.500217      0.005156
10        0.583273       0.002048       0.500971      0.005279
11        0.584110       0.002398       0.498692      0.003015
12        0.585233       0.002750       0.499732      0.003468
13        0.585603       0.002882       0.500918      0.003058
14        0.588701       0.003346       0.499292      0.002455
15        0.588086       0.002896       0.497913      0.001758
16        0.588789       0.003309       0.497660      0.002583
17        0.590464       0.003339       0.498323      0.002205
18        0.590942       0.003017       0.499138      0.002067
19        0.592366       0.002478       0.498826      0.003219
|  24       |  0.501    |  49.2     |  148.3    |  290.2    |

    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.548002       0.006959       0.493611      0.001581
2         0.565036       0.001534       0.496487      0.002232
3         0.568835       0.002173       0.496701      0.006005
4         0.572453       0.000948       0.498599      0.005499
5         0.575439       0.001543       0.496864      0.009514
6         0.576649       0.001167       0.498268      0.006990
7         0.577425       0.001815       0.498991      0.003886
8         0.579199       0.000548       0.499120      0.005704
9         0.581321       0.001034       0.500217      0.005156
10        0.583273       0.002048       0.500971      0.005279
11        0.584110       0.002398       0.498692      0.003015
12        0.585233       0.002750       0.499732      0.003468
13        0.585603       0.002882       0.500918      0.003058
14        0.588701       0.003346       0.499292      0.002455
15        0.588086       0.002896       0.497913      0.001758
16        0.588789       0.003309       0.497660      0.002583
17        0.590464       0.003339       0.498323      0.002205
18        0.590942       0.003017       0.499138      0.002067
19        0.592366       0.002478       0.498826      0.003219
|  25       |  0.501    |  10.86    |  147.9    |  299.5    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.548002       0.006959       0.493611      0.001581
2         0.565036       0.001534       0.496487      0.002232
3         0.568835       0.002173       0.496701      0.006005
4         0.572453       0.000948       0.498599      0.005499
5         0.575439       0.001543       0.496864      0.009514
6         0.576649       0.001167       0.498268      0.006990
7         0.577425       0.001815       0.498991      0.003886
8         0.579199       0.000548       0.499120      0.005704
9         0.581321       0.001034       0.500217      0.005156
10        0.583273       0.002048       0.500971      0.005279
11        0.584110       0.002398       0.498692      0.003015
12        0.585233       0.002750       0.499732      0.003468
13        0.585603       0.002882       0.500918      0.003058
14        0.588701       0.003346       0.499292      0.002455
15        0.588086       0.002896       0.497913      0.001758
16        0.588789       0.003309       0.497660      0.002583
17        0.590464       0.003339       0.498323      0.002205
18        0.590942       0.003017       0.499138      0.002067
19        0.592366       0.002478       0.498826      0.003219
|  26       |  0.501    |  47.67    |  148.1    |  296.9    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.548002       0.006959       0.493611      0.001581
2         0.565036       0.001534       0.496487      0.002232
3         0.568835       0.002173       0.496701      0.006005
4         0.572453       0.000948       0.498599      0.005499
5         0.575439       0.001543       0.496864      0.009514
6         0.576649       0.001167       0.498268      0.006990
7         0.577425       0.001815       0.498991      0.003886
8         0.579199       0.000548       0.499120      0.005704
9         0.581321       0.001034       0.500217      0.005156
10        0.583273       0.002048       0.500971      0.005279
11        0.584110       0.002398       0.498692      0.003015
12        0.585233       0.002750       0.499732      0.003468
13        0.585603       0.002882       0.500918      0.003058
14        0.588701       0.003346       0.499292      0.002455
15        0.588086       0.002896       0.497913      0.001758
16        0.588789       0.003309       0.497660      0.002583
17        0.590464       0.003339       0.498323      0.002205
18        0.590942       0.003017       0.499138      0.002067
19        0.592366       0.002478       0.498826      0.003219
|  27       |  0.501    |  49.39    |  147.7    |  298.3    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.549848       0.008970       0.491412      0.001885
2         0.565846       0.002153       0.494334      0.006710
3         0.569921       0.002673       0.496031      0.006201
4         0.575835       0.001907       0.495415      0.008495
5         0.577229       0.001723       0.495868      0.005545
6         0.578936       0.002642       0.497593      0.006373
7         0.580488       0.002826       0.497474      0.005742
8         0.582132       0.003492       0.499161      0.004520
9         0.584055       0.002960       0.499615      0.004180
10        0.584963       0.003244       0.497492      0.001080
11        0.585912       0.002909       0.498310      0.003736
12        0.587998       0.003354       0.498938      0.005437
13        0.590799       0.002816       0.499725      0.004388
14        0.591881       0.002390       0.498183      0.003525
15        0.593656       0.002139       0.497011      0.003504
16        0.594101       0.002249       0.495314      0.002961
17        0.596374       0.002344       0.495675      0.003739
18        0.597376       0.003566       0.496870      0.004943
19        0.600339       0.003233       0.495055      0.003268
|  28       |  0.4997   |  49.57    |  136.3    |  298.8    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.547060       0.041441       0.496741      0.007649
1         0.696884       0.015992       0.503577      0.011645
2         0.774553       0.012601       0.500125      0.013189
3         0.824745       0.008498       0.500895      0.009750
4         0.859005       0.004919       0.494428      0.014166
5         0.883431       0.004209       0.497967      0.010966
6         0.905388       0.002462       0.497829      0.011189
7         0.919280       0.002695       0.495235      0.005488
8         0.931864       0.003358       0.496345      0.009422
9         0.941147       0.002710       0.495846      0.009098
10        0.948752       0.003044       0.497544      0.004624
11        0.955223       0.002066       0.498285      0.005512
12        0.960718       0.001587       0.498720      0.005867
13        0.964762       0.001493       0.499932      0.005799
14        0.969227       0.001500       0.501093      0.004999
15        0.972670       0.001613       0.501690      0.005404
16        0.975930       0.001739       0.501625      0.004686
17        0.979076       0.001749       0.501876      0.002381
18        0.981346       0.001241       0.500707      0.002531
19        0.983677       0.001178       0.499504      0.002137
|  29       |  0.5036   |  46.87    |  3.919    |  295.9    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.555356       0.047390       0.496851      0.005427
1         0.721890       0.039276       0.500790      0.004386
2         0.859344       0.022257       0.493496      0.009687
3         0.922496       0.006029       0.493906      0.008541
4         0.958747       0.003418       0.493881      0.006114
5         0.976902       0.001769       0.496724      0.000660
6         0.987264       0.000682       0.495248      0.003442
7         0.992657       0.000418       0.492046      0.007399
8         0.995989       0.000294       0.490304      0.008627
9         0.997595       0.000097       0.488873      0.007639
10        0.998591       0.000176       0.487253      0.006274
11        0.999191       0.000172       0.490012      0.007430
12        0.999481       0.000154       0.491266      0.007058
13        0.999686       0.000095       0.492558      0.006238
14        0.999816       0.000061       0.493643      0.004192
15        0.999876       0.000038       0.495380      0.006235
16        0.999923       0.000026       0.495514      0.006242
17        0.999952       0.000019       0.496410      0.005553
18        0.999965       0.000013       0.496615      0.004185
19        0.999973       0.000013       0.496381      0.004800
|  30       |  0.5008   |  49.98    |  1.35     |  299.6    |

    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.542229       0.037562       0.494696      0.006921
1         0.683834       0.009370       0.495135      0.005362
2         0.749785       0.004616       0.494153      0.006982
3         0.805221       0.002983       0.492795      0.005438
4         0.841125       0.003742       0.489472      0.005027
5         0.866706       0.004243       0.487291      0.004402
6         0.885667       0.005220       0.487194      0.004583
7         0.898679       0.002672       0.491258      0.003759
8         0.910898       0.002271       0.494550      0.006147
9         0.920152       0.002095       0.494495      0.000524
10        0.927780       0.001562       0.494028      0.002055
11        0.935070       0.001700       0.494640      0.002920
12        0.941740       0.002072       0.494181      0.001885
13        0.948016       0.002328       0.495517      0.001071
14        0.952943       0.001784       0.499132      0.002702
15        0.957072       0.001727       0.500095      0.002427
16        0.960183       0.001519       0.498691      0.002500
17        0.963865       0.001260       0.499434      0.000725
18        0.966994       0.001471       0.498895      0.000317
19        0.969430       0.001785       0.497298      0.000493
|  31       |  0.5001   |  46.83    |  4.932    |  297.0    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.533246       0.040038       0.494929      0.007384
1         0.662367       0.041136       0.495234      0.002386
2         0.750964       0.011349       0.482869      0.003512
3         0.796173       0.005886       0.483762      0.002386
4         0.827476       0.004066       0.482532      0.003583
5         0.850015       0.004926       0.482941      0.004333
6         0.866069       0.005608       0.486354      0.002324
7         0.878186       0.006061       0.488245      0.002920
8         0.889905       0.006789       0.490532      0.004787
9         0.899607       0.006470       0.491120      0.005194
10        0.908220       0.005026       0.491171      0.006724
11        0.915135       0.005056       0.491967      0.006022
12        0.922461       0.003445       0.490714      0.005933
13        0.927823       0.003823       0.490216      0.004446
14        0.932468       0.003082       0.489877      0.005601
15        0.936926       0.002861       0.490752      0.006331
16        0.942022       0.003090       0.489884      0.007320
17        0.945972       0.002864       0.489647      0.010220
18        0.949750       0.002624       0.490335      0.009478
19        0.952982       0.002580       0.492223      0.008477
|  32       |  0.4952   |  49.65    |  5.675    |  296.8    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.548002       0.006959       0.493611      0.001581
2         0.565036       0.001534       0.496487      0.002232
3         0.568680       0.002114       0.498147      0.005445
4         0.571714       0.001644       0.500265      0.003267
5         0.574736       0.001515       0.497200      0.006597
6         0.575865       0.001907       0.497896      0.004512
7         0.576751       0.001875       0.499407      0.002438
8         0.579632       0.001559       0.498432      0.002781
9         0.580411       0.002241       0.500090      0.003720
10        0.580821       0.002311       0.498613      0.002797
11        0.582187       0.002864       0.499017      0.003217
12        0.583306       0.001773       0.499454      0.005117
13        0.584034       0.002961       0.499781      0.005072
14        0.584931       0.002851       0.499630      0.005007
15        0.586040       0.003086       0.499327      0.004799
16        0.587006       0.003090       0.498913      0.003534
17        0.588674       0.002799       0.498326      0.005433
18        0.590716       0.003719       0.497600      0.003251
19        0.591951       0.003275       0.496728      0.003258
|  33       |  0.5003   |  12.83    |  149.1    |  296.2    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.548875       0.007599       0.492039      0.001101
2         0.565391       0.001697       0.494963      0.005258
3         0.569186       0.001901       0.497088      0.005204
4         0.575013       0.001269       0.495061      0.004277
5         0.575924       0.001254       0.495005      0.002487
6         0.577508       0.001638       0.497133      0.003349
7         0.579027       0.001402       0.497394      0.003976
8         0.579857       0.002652       0.497445      0.004017
9         0.581165       0.001743       0.499979      0.004384
10        0.583176       0.002219       0.500779      0.007887
11        0.584400       0.002100       0.499356      0.005520
12        0.585784       0.002552       0.500848      0.002926
13        0.587644       0.002097       0.499826      0.002623
14        0.589097       0.003221       0.498719      0.002409
15        0.589856       0.003458       0.499221      0.001471
16        0.589981       0.004209       0.499481      0.001956
17        0.592491       0.004566       0.496969      0.001376
18        0.593397       0.004172       0.497201      0.000925
19        0.594613       0.004530       0.496555      0.000340
|  34       |  0.5008   |  10.57    |  142.5    |  295.5    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.548583       0.007780       0.492774      0.002098
2         0.564710       0.001388       0.494159      0.004129
3         0.568780       0.001973       0.497068      0.005046
4         0.574415       0.001159       0.495321      0.003848
5         0.575502       0.001312       0.495059      0.002944
6         0.575603       0.000448       0.496281      0.002652
7         0.579150       0.001941       0.497471      0.003922
8         0.581208       0.001506       0.498196      0.003463
9         0.581925       0.001789       0.497606      0.002628
10        0.584038       0.002313       0.495203      0.001839
11        0.585109       0.003210       0.494515      0.002550
12        0.585935       0.003157       0.495340      0.003972
13        0.586295       0.003221       0.496491      0.004968
14        0.587494       0.003459       0.497599      0.005303
15        0.589288       0.003840       0.497803      0.007888
16        0.589775       0.002850       0.497249      0.008997
17        0.591203       0.002354       0.498972      0.007222
18        0.592400       0.002078       0.498860      0.007376
19        0.593945       0.002694       0.497829      0.007261
|  35       |  0.499    |  12.5     |  144.9    |  299.9    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.548583       0.007780       0.492774      0.002098
2         0.564710       0.001388       0.494159      0.004129
3         0.568780       0.001973       0.497068      0.005046
4         0.574415       0.001159       0.495321      0.003848
5         0.575502       0.001312       0.495059      0.002944
6         0.575603       0.000448       0.496281      0.002652
7         0.579150       0.001941       0.497471      0.003922
8         0.581208       0.001506       0.498196      0.003463
9         0.581925       0.001789       0.497606      0.002628
10        0.584038       0.002313       0.495203      0.001839
11        0.585109       0.003210       0.494515      0.002550
12        0.585935       0.003157       0.495340      0.003972
13        0.586295       0.003221       0.496491      0.004968
14        0.587494       0.003459       0.497599      0.005303
15        0.589288       0.003840       0.497803      0.007888
16        0.589775       0.002850       0.497249      0.008997
17        0.591203       0.002354       0.498972      0.007222
18        0.592400       0.002078       0.498860      0.007376
19        0.593945       0.002694       0.497829      0.007261
|  36       |  0.499    |  10.17    |  145.4    |  51.5     |

    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.548583       0.007780       0.492774      0.002098
2         0.564787       0.001474       0.495167      0.004307
3         0.568768       0.001966       0.497327      0.004841
4         0.574423       0.001305       0.495155      0.004106
5         0.575649       0.001353       0.495260      0.002723
6         0.575777       0.000336       0.496784      0.002723
7         0.579036       0.001457       0.497509      0.004461
8         0.579929       0.002731       0.496928      0.003695
9         0.581464       0.001734       0.497577      0.002873
10        0.583313       0.001926       0.495932      0.003294
11        0.584877       0.001312       0.498510      0.003638
12        0.586812       0.001516       0.500023      0.003113
13        0.587890       0.001766       0.498566      0.001975
14        0.588481       0.001662       0.498771      0.002788
15        0.590113       0.001983       0.498945      0.003953
16        0.589888       0.001207       0.498810      0.003969
17        0.591169       0.001976       0.497760      0.002555
18        0.592051       0.001447       0.496871      0.001357
19        0.594703       0.002550       0.498417      0.001660
|  37       |  0.5      |  48.64    |  143.5    |  297.7    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.547850       0.007059       0.493610      0.001579
2         0.564558       0.001437       0.497196      0.001570
3         0.568135       0.002127       0.498193      0.005369
4         0.570559       0.001562       0.500073      0.003276
5         0.571553       0.002139       0.499903      0.005224
6         0.574103       0.001253       0.497756      0.004071
7         0.575777       0.002672       0.500605      0.003544
8         0.577656       0.002864       0.499881      0.003908
9         0.579575       0.003820       0.498432      0.002413
10        0.580049       0.004461       0.498131      0.001564
11        0.581031       0.004862       0.498276      0.002413
12        0.581900       0.003810       0.497061      0.003062
13        0.582236       0.004403       0.497251      0.002506
14        0.582646       0.004803       0.496118      0.002437
15        0.585116       0.005517       0.496420      0.002425
16        0.586099       0.005576       0.497236      0.002462
17        0.587206       0.006079       0.496831      0.004828
18        0.588373       0.006946       0.497054      0.005461
19        0.589378       0.006450       0.498206      0.004254
|  38       |  0.5006   |  10.62    |  149.6    |  294.8    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.548002       0.006959       0.493611      0.001581
2         0.565036       0.001534       0.496487      0.002232
3         0.568835       0.002173       0.496701      0.006005
4         0.572453       0.000948       0.498599      0.005499
5         0.575439       0.001543       0.496864      0.009514
6         0.576649       0.001167       0.498268      0.006990
7         0.577425       0.001815       0.498991      0.003886
8         0.579199       0.000548       0.499120      0.005704
9         0.581321       0.001034       0.500217      0.005156
10        0.583273       0.002048       0.500971      0.005279
11        0.584110       0.002398       0.498692      0.003015
12        0.585233       0.002750       0.499732      0.003468
13        0.585603       0.002882       0.500918      0.003058
14        0.588701       0.003346       0.499292      0.002455
15        0.588086       0.002896       0.497913      0.001758
16        0.588789       0.003309       0.497660      0.002583
17        0.590464       0.003339       0.498323      0.002205
18        0.590942       0.003017       0.499138      0.002067
19        0.592366       0.002478       0.498826      0.003219
|  39       |  0.501    |  47.48    |  147.8    |  298.8    |
    train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0         0.519743       0.019014       0.498476      0.001133
1         0.548583       0.007780       0.492774      0.002098
2         0.564710       0.001388       0.494159      0.004129
3         0.568780       0.001973       0.497068      0.005046
4         0.574415       0.001159       0.495321      0.003848
5         0.575502       0.001312       0.495059      0.002944
6         0.575603       0.000448       0.496281      0.002652
7         0.579150       0.001941       0.497471      0.003922
8         0.581208       0.001506       0.498196      0.003463
9         0.581925       0.001789       0.497606      0.002628
10        0.584038       0.002313       0.495203      0.001839
11        0.585109       0.003210       0.494515      0.002550
12        0.585935       0.003157       0.495340      0.003972
13        0.586295       0.003221       0.496491      0.004968
14        0.587494       0.003459       0.497599      0.005303
15        0.589288       0.003840       0.497803      0.007888
16        0.589775       0.002850       0.497249      0.008997
17        0.591203       0.002354       0.498972      0.007222
18        0.592400       0.002078       0.498860      0.007376
19        0.593945       0.002694       0.497829      0.007261
|  40       |  0.499    |  12.35    |  145.3    |  297.2    |
=============================================================

In [109]:
params = xgb_bo.max['params']

print(params)

#Conversting the max_depth and n_estimator values from float to int
params['max_depth']= int(round(params['max_depth']))
#params['gamma']= params['gamma']
params['n_estimators']= int(round(params['n_estimators']))
params['min_child_weight']= int(round(params['min_child_weight']))
#params['max_bin']= int(round(params['max_bin']))
print(params)

{'max_depth': 21.217250104407967, 'min_child_weight': 56.164669171924835, 'n_estimators': 272.3521687774187}
{'max_depth': 21, 'min_child_weight': 56, 'n_estimators': 272}

In [110]:
model_eval(xgb.XGBClassifier(**params),x_train,y_train,x_test,y_test)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=21,
              min_child_weight=56, missing=None, n_estimators=272, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)


 Accuracy score of train:  0.8708925449410498
 Accuracy score of test:  0.7946867482480912


 Confusion Matrix of train:  [[9473 1690]
 [1190 9954]]
 Confusion Matrix of test:  [[3612 1159]
 [ 804 3986]]


 Auc of train:  0.9408102687906201
 Auc of test:  0.8627039494440357

In [69]:
rfc = RandomForestClassifier()
model_eval(rfc,x_train,y_train,x_test,y_test)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)


 Accuracy score of train:  0.9996109252198272
 Accuracy score of test:  0.866557734204793


 Confusion Matrix of train:  [[11154     0]
 [    5  1692]]
 Confusion Matrix of test:  [[4768   12]
 [ 723    5]]


 Auc of train:  0.9999993131990775
 Auc of test:  0.48863783967078944

In [113]:
params = {
    'n_estimators' : sp_randint(5,150),
    'max_depth': sp_randint(2,10),
    'max_features' : sp_randint(1,15),
    'min_samples_split' : sp_randint(2,50),
    'min_samples_leaf' : sp_randint(1,50),
    'criterion' : ['gini','entropy']}

rsearch_rf = RandomizedSearchCV(rfc,param_distributions=params,n_iter=100,n_jobs=-1,cv=3,scoring='roc_auc',random_state=1)
rsearch_rf.fit(x_train_os, y_train_os)

RandomizedSearchCV(cv=3, error_score=nan,
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    ccp_alpha=0.0,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    max_samples=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators=100,
                                                    n_jobs...
                                        'min_samples_leaf': <scipy.stats._distn_infrastructure.rv_frozen object at 0x0000023DC81566C8>,
                                        'min_samples_split': <scipy.stats._distn_infrastructure.rv_frozen object at 0x0000023DC815C1C8>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x0000023DC8172388>},
                   pre_dispatch='2*n_jobs', random_state=1, refit=True,
                   return_train_score=False, scoring='roc_auc', verbose=0)

In [71]:
rsearch_rf.best_params_

{'criterion': 'entropy',
 'max_depth': 7,
 'max_features': 5,
 'min_samples_leaf': 28,
 'min_samples_split': 39,
 'n_estimators': 62}

In [72]:
rfc = RandomForestClassifier(**rsearch_rf.best_params_)
model_eval(rfc,x_train,y_train,x_test,y_test)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=7, max_features=5,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=28, min_samples_split=39,
                       min_weight_fraction_leaf=0.0, n_estimators=62,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)


 Accuracy score of train:  0.867948019609369
 Accuracy score of test:  0.8678286129266521


 Confusion Matrix of train:  [[11154     0]
 [ 1697     0]]
 Confusion Matrix of test:  [[4780    0]
 [ 728    0]]


 Auc of train:  0.7116231229598711
 Auc of test:  0.4795992057106074

In [73]:
knn_train['target'].value_counts()

0    15934
1     2425
Name: target, dtype: int64

In [100]:
xy_train0 = knn_train.loc[knn_train['target']==0]
xy_train1 = knn_train.loc[knn_train['target']==1]

len0 = len(xy_train0)
len1 = len(xy_train1)

print('len0 ',len0 ,'len1 ',len1 )

len0  15934 len1  2425

In [88]:
x_train.shape

(12851, 12)

In [98]:
xy_train.shape

(16685, 13)

In [104]:
xy_train_os.columns

Index(['enrollee_id', 'city', 'city_development_index', 'gender',
       'relevent_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours', 'target'],
      dtype='object')

In [106]:
xy_train1_os = xy_train1.sample(len0,replace=True, random_state=1)
xy_train_os = pd.concat([xy_train1_os,xy_train0],axis=0)

x_train_os = xy_train_os.drop(['enrollee_id','target'],axis=1)
y_train_os = xy_train_os['target']
x_train, x_test, y_train, y_test = train_test_split(x_train_os, y_train_os, test_size=0.3, random_state=9)

In [102]:
print(xy_train_os['target'].value_counts())

1    15934
0    15934
Name: target, dtype: int64

In [112]:
rfc = RandomForestClassifier()
model_eval(rfc,x_train,y_train,x_test,y_test)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)


 Accuracy score of train:  0.9995068812480388
 Accuracy score of test:  0.9595230624411673


 Confusion Matrix of train:  [[11154     9]
 [    2 11142]]
 Confusion Matrix of test:  [[4438  333]
 [  54 4736]]


 Auc of train:  0.9999913022838048
 Auc of test:  0.9931982283358619

In [114]:
rfc = RandomForestClassifier(**rsearch_rf.best_params_)
model_eval(rfc,x_train,y_train,x_test,y_test)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=9, max_features=6,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=6, min_samples_split=38,
                       min_weight_fraction_leaf=0.0, n_estimators=106,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)


 Accuracy score of train:  0.7257363159546331
 Accuracy score of test:  0.6877941637903985


 Confusion Matrix of train:  [[8706 2457]
 [3661 7483]]
 Confusion Matrix of test:  [[3505 1266]
 [1719 3071]]


 Auc of train:  0.8134446065445796
 Auc of test:  0.7630763498502827

In [118]:
lr = LabelEncoder()
cs = [i for i in test.columns if test[i].dtype == 'object']
for c in cs:
    lr.fit(list(test[c].values))
    test[c] = lr.transform(list(test[c].values))

In [119]:
col = ['enrollee_id', 'city', 'city_development_index', 'gender',
       'relevent_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours']

In [120]:

knn_test = pd.DataFrame(np.round(imputor.fit_transform(test)),columns=col)

In [121]:

colu = list(knn_test.columns)
for i in colu:
    if (i!='city_development_index'):
        knn_test[i]=knn_test[i].astype(int)

In [ ]:
xy_train_os

In [131]:
test_new = knn_test.drop('enrollee_id',axis=1)

In [132]:
pred=rfc.predict(test_new)

In [133]:
sub = pd.read_csv('sample_submission_sxfcbdx.csv')
sub.head()

   enrollee_id  target
0        16548       0
1        12036       0
2        11061       0
3         5032       0
4        17599       0

In [135]:
sub.shape,test_new.shape

((15021, 2), (15021, 12))

In [137]:
sub["target"]=pred

In [138]:
sub[['enrollee_id', 'target']].to_csv('submission.csv',index=False)